{% extends 'admin_index.html' %}

{% block member %}
    <div class="is-block">
        <div class=" is-pulled-left">
            <h1 class=" is-size-4">
            <span class="icon">
                <i class="mdi mdi-tag-outline"></i>
            </span>
                轮播图管理
            </h1>
        </div>

        {% block button %}
            <div class=" is-pulled-right">
                <a href="{{ url_for('admin.img_add') }}" class=" button is-primary is-light">
                    <span class="icon"><i class="mdi mdi-plus-thick"></i></span>
                    <span>添加轮播图</span>
                </a>
            </div>
        {% endblock button %}
        <div class="is-clearfix"></div>
        <div class=" dropdown-divider"></div>

        <!-- 消息闪现 -->
        {% with messages = get_flashed_messages() %}
            <b-message type="is-success">
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </b-message>
        {% endwith %}
    </div>

    {% block table_content %}
        <div class="table-container">
            <table class="table is-fullwidth is-hoverable is-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>图片</th>
                    <th>图片描述</th>
                    {#                    <th>图片地址</th>#}
                    {#                    <th>是否活跃</th>#}
                    {#                    <th>是否锁定</th>#}
                    <th>添加日期</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for img in img_list %}
                    <tr>
                        <td>{{ img.id }}</td>
                        <td>
                            {% if img.img=='1' %}
                                <figure class="image is-48x48">
                                    <img class="is-rounded" src="{{ img.url }}"
                                         alt="{{ img.desc }}">
                                </figure>
                            {% else %}
                                <figure class="image is-48x48">
                                    <img class="is-rounded" src="/static/img/{{ img.img }}"
                                         alt="{{ img.desc }}">
                                </figure>
                            {% endif %}
                        </td>
                        <td>{{ img.desc }}</td>
                        {#                        <td>#}
                        {#                            {% if user.is_super_user %}#}
                        {#                                <span class="icon has-text-success-dark">#}
                        {#                                <i class="fa-light fa-check">√</i>#}
                        {#                            <i class="mdi mdi-check"></i>#}
                        {#                                <i class="fa-solid fa-check fa-fw"></i>#}
                        {#                                </span>#}
                        {#                            {% else %}#}
                        {#                                <span class="icon has-text-danger-dark">#}
                        {#                            <i class="mdi mdi-close"></i>#}
                        {#                                <i class="fa-light fa-check">√</i>#}
                        {#                                <i class="fa-solid fa-xmark"></i>#}
                        {#                                                                </span>#}
                        {#                            {% endif %}#}
                        {#                        </td>#}
                        {#                        <td>#}
                        {#                            {% if user.is_active %}#}
                        {#                                <span class="icon has-text-success-dark">#}
                        {#                            <i class="mdi mdi-check"></i>#}
                        {#                                <i class="fa-solid fa-check fa-fw"></i>#}
                        {#                        </span>#}
                        {#                            {% else %}#}
                        {#                                <span class="icon has-text-danger-dark">#}
                        {#                            <i class="mdi mdi-close"></i>#}
                        {#                                <i class="fa-solid fa-xmark"></i>#}
                        {#                        </span>#}
                        {#                            {% endif %}#}
                        {#                        </td>#}
                        {#                        <td>#}
                        {#                            {% if user.is_staff %}#}
                        {#                                <span class="icon has-text-danger-dark">#}
                        {#                            <i class="mdi mdi-lock-outline"></i>#}
                        {#                            <i class="fa-solid fa-lock"></i>#}
                        {#                                <i class="fa-solid fa-check fa-fw"></i>#}
                        {#                        </span>#}
                        {#                            {% else %}#}
                        {#                                <span class="icon has-text-success-dark">#}
                        {#                                    <i class="fa-solid fa-lock-open fa-fw"></i>#}
                        {#                                <i class="fa-solid fa-lock-open fa-fw"></i>#}
                        {##}
                        {#                                    <i class="mdi mdi-lock-open-variant-outline"></i>#}
                        {#                        </span>#}
                        {#                            {% endif %}#}
                        {#                        </td>#}
                        <td>{{ img.add_date }}</td>
                        <td>
                            <div class="tags">
                                <a href="{{ url_for('admin.img_edit', img_id=img.id) }}"
                                   class="tag is-success is-light">
                                <span class="icon">
                                <i class="mdi mdi-square-edit-outline"></i>
                            </span>
                                    编辑
                                </a>
                                <a href="{{ url_for('admin.img_del', img_id=img.id) }}"
                                   class="tag is-danger is-light">
                                <span class="icon">
                                <i class="mdi mdi-trash-can-outline"></i>
                            </span>
                                    删除
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <nav class="pagination is-small" role="navigation" aria-label="pagination">
            {% if pagination.has_prev %}
                <a href="{{ url_for('admin.img_change') }}?page={{ pagination.prev_num }}" class="pagination-previous"
                   title="This is the first page">Previous</a>
            {% endif %}
            {% if pagination.has_next %}
                <a href="{{ url_for('admin.img_change') }}?page={{ pagination.next_num }}" class="pagination-next">Next
                    page</a>
            {% endif %}

            <ul class="pagination-list">
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        {% if page != pagination.page %}
                            <li>
                                <a href="{{ url_for('admin.img_change') }}?page={{ page }}" class="pagination-link"
                                   aria-label="Page 1" aria-current="page">{{ page }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="pagination-link is-current" aria-label="Page 1"
                                   aria-current="page">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <span class=pagination-ellipsis>&hellip;</span>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% endblock table_content %}
{% endblock member %}